@import url('https://fonts.googleapis.com/css2?family=Sofia+Sans+Condensed:ital,wght@0,1..1000;1,1..1000&family=Stint+Ultra+Condensed&display=swap');



/* *{
    border: tomato 1px solid;
} */

@font-face {
    font-family: 'MingLiu';
    src: url('/fonts/mingliu.woff') format('woff'), 
         url('/fonts/mingliu.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
  }
  

.sofia{
    font-family: "Sofia Sans Condensed", sans-serif;
  }

.slab{
    font-family: "MingLiu", serif;
}

